<div>
    <h1>{{company.name}}</h1>
    <div>State: {{company.state}}</div>

    <div>
        <a href="/companies">Back to Companies</a>
    </div>
    <div>
        <a href="/companies/{{company._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/companies/{{company._id}}/delete">Delete</a>

        <a href="/companies/{{company._id}}/questions">Questions</a>
    </div>
</div>
    