<div>
    <h1>{{company.name}}'s Questions</h1>

    <div>
        <a href="/companies/{{company._id}}/questions/new">Create a New Questions</a>
    </div>

    <div>
        <a href="/companies">Back to Companies</a>
    </div>
    
    {{#each company.questions}}
        <div>
            {{this.questions}} - {{this.answer}}
            <a href="/companies/{{../company._id}}/questions/{{this._id}}">View</a>
        </div>
    {{/each}}
</div>