<div>
    <ul>
       <li>{{question.questions}} ? </li> 
          <li>{{question.answer}}</li>
    </ul>
   
    <a href="/companies/{{companyId}}/questions/{{question._id}}/edit">Edit</a>
    <a href="/companies/{{companyId}}/questions/{{question._id}}/delete">Delete</a>
</div>