<div>
    <ul>
       <li>{{question.questions}} ? </li> 
          <li>{{question.answer}}</li>
    </ul>
   
   <li><a href="/companies/{{companyId}}/questions/{{question._id}}/edit">Edit</a></li> 
   <li><a href="/companies/{{companyId}}/questions/{{question._id}}/delete">Delete</a></li> 
    <li><a href="/companies">Back to Companies</a> </li>
</div>