<div>
    {{question.questions}} - {{question.answer}}
    <a href="/companies/{{companyId}}/questions/{{question._id}}/edit">Edit</a>
    <a href="/companies/{{companyId}}/questions/{{question._id}}/delete">Delete</a>
</div>